<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% trans %}Mentions Légales{% endtrans %}</title>
    </head>
    <body>
        <h1>{% trans %}Mentions Légales{% endtrans %}</h1>
    </body>
</html>